In [9]:
import numpy as np
import pandas as pd

MW_taurine = 125.15
MW_water = 18.01528

In [2]:
exp_data_sources = {
    "Wu": pd.DataFrame(data = [
        [278.15, 0.006671],
        [283.15, 0.008090],
        [288.15, 0.01014],
        [293.15, 0.01213],
        [298.15, 0.01414],
        [303.15, 0.01722],
        [308.15, 0.02017],
        [313.15, 0.02316],
        [318.15, 0.02638],
        [323.15, 0.03183],
    ], columns=["Temperature (K)", "solubility (x)"]),
    "Yang": pd.DataFrame(data = [
        [278.05, 0.00796],
        [281.25, 0.00932],
        [288.75, 0.01191],
        [289.85, 0.01281],
        [298.15, 0.01704],
        [305.35, 0.0203],
        [308.25, 0.02126],
        [310.95, 0.02332],
        [314.85, 0.02615],
        [318.35, 0.0291],
        [321.55, 0.03214],
        [331.75, 0.04028],
        [340.95, 0.04767],
        [345.15, 0.05261],
        [350.25, 0.05854],
        [353.55, 0.06459],
    ], columns = ["Temperature (K)", "solubility (x)"]),
    "Dalton": pd.DataFrame(data = [
        [0,   0.03931],
        [5,   0.04878],
        [10,  0.05992],
        [15,  0.07291],
        [20,  0.08784],
        [25,  0.1048],
        [30,  0.1238],
        [35,  0.1449],
        [40,  0.1678],
        [45,  0.1926],
        [50,  0.2188],
        [55,  0.2462],
        [60,  0.2742],
        [65,  0.3026],
        [70,  0.3305],
        [75,  0.3576],
        [100, 0.4576]
         
    ], columns = ["Temperature (C)", "solubility (g/g)"])
}

def kx2cm(df: pd.DataFrame):
    df["Temperature (C)"] = df["Temperature (K)"] - 273.15
    df["solubility (g/g)"] = df["solubility (x)"] * MW_taurine /  ((1 - df["solubility (x)"]) * MW_water)

kx2cm(exp_data_sources["Wu"])
kx2cm(exp_data_sources["Yang"])

In [3]:
exp_data_sources["Yang"]

    Temperature (K)  solubility (x)  Temperature (C)  solubility (g/g)
0            278.05         0.00796              4.9          0.055741
1            281.25         0.00932              8.1          0.065354
2            288.75         0.01191             15.6          0.083735
3            289.85         0.01281             16.7          0.090144
4            298.15         0.01704             25.0          0.120427
5            305.35         0.02030             32.2          0.143944
6            308.25         0.02126             35.1          0.150899
7            310.95         0.02332             37.8          0.165869
8            314.85         0.02615             41.7          0.186539
9            318.35         0.02910             45.2          0.208213
10           321.55         0.03214             48.4          0.230687
11           331.75         0.04028             58.6          0.291565
12           340.95         0.04767             67.8          0.347734
13           345.15         0.05261             72.0          0.385771
14           350.25         0.05854             77.1          0.431957
15           353.55         0.06459             80.4          0.479682

In [4]:
exp_data_sources["Wu"]

   Temperature (K)  solubility (x)  Temperature (C)  solubility (g/g)
0           278.15        0.006671              5.0          0.046654
1           283.15        0.008090             10.0          0.056659
2           288.15        0.010140             15.0          0.071163
3           293.15        0.012130             20.0          0.085300
4           298.15        0.014140             25.0          0.099638
5           303.15        0.017220             30.0          0.121721
6           308.15        0.020170             35.0          0.143003
7           313.15        0.023160             40.0          0.164704
8           318.15        0.026380             45.0          0.188224
9           323.15        0.031830             50.0          0.228389

In [5]:
exp_data_sources["Dalton"]

    Temperature (C)  solubility (g/g)
0                 0           0.03931
1                 5           0.04878
2                10           0.05992
3                15           0.07291
4                20           0.08784
5                25           0.10480
6                30           0.12380
7                35           0.14490
8                40           0.16780
9                45           0.19260
10               50           0.21880
11               55           0.24620
12               60           0.27420
13               65           0.30260
14               70           0.33050
15               75           0.35760
16              100           0.45760

In [6]:
(0.24620-0.19260) * 50

2.6800000000000006

In [6]:
0.21880*50

10.94

In [6]:
import numpy as np
def solubility( temperature: float):
    A1 = -3.15
    A2 = -2263.75
    A3 = 9.94
    A4 = -4755.72
    A5 = 12474.32
    A6 = -14846.20
    A7 = 6098.95
    TK = temperature + 273.15
    x0cal = np.exp(A1 + A2 / TK + A3 + (A4+A5+A6+A7)/TK)
    return x0cal

In [ ]:
x = solubility(30)
x * MW_taurine /  ((1 -x) * MW_water)

0.1206184074361612